@font-face {
  font-family:'Proxima Nova Regular';
  src: url(/fonts/proxima_nova/proximanova_regular.ttf);
}

* {
  box-sizing: border-box;
  font-family:'Proxima Nova Regular';
}

body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template-rows: auto;
  align-items:start;
  max-width: 1376px;
  min-width: 1376px;
  margin: auto;
}

.top-navigation-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: center;
  height: 48px;
  background-color: #323941;
  color: #FFFFFF;
}

.top-navigation-menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.top-navigation-menu-item {
  margin: 0px 16px;
  padding: 0;
}


.top-info {
  justify-self: left;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.cart {
  display: flex;
  align-items: center;
  margin: 0px 16px;
  padding: 0;
}

.instagram-link {
  display: flex;
  align-items: center;
  margin: 0px 16px;
  padding: 0;
}

.phone-number {
  margin: 0px 16px;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
}

.introduce {
  height: 101px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 5px;
}

.company-logo,
.company-director-foto {
  display: grid;
  justify-content: right;
  align-items: center;
}

.company-name {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}

.company-first-name,
.company-director-name {
  display: grid;
  justify-content: left;
  align-items: end;
}

.company-second-name,
.company-director-ask {
  display: grid;
  justify-content: left;
  align-items: start;
}

.ask-to-director {
  display: grid;
  grid-template-rows: 2fr 3fr;
  gap: 5px;
}

.company-director-name {
  font-size: 13px;
  font-weight: 600;
}

.company-director-ask {
  font-size: 13px;
  font-weight: 400;
}

.first-gallery-line,
.second-gallery-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 130px;
  background-color: #323941;
}

.gallery-item-inactive {
  display: flex;
  flex-direction: column;
  width: 137.14px;
  height: 130px;
}

.gallery-item-active {
  display: flex;
  flex-direction: column;
  background-color: #009EFF;
  width: 137.14px;
  height: 130px;
}

.gallery-item-foto {
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

.gallery-item-text {
  display: flex;
  justify-content: center;
  align-content: end;
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
}

.special-offer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: #009EFF;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
}

.special-offer-segway {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.in-stock-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 27px;
  border: 2px solid #6ACD68;
  font-size: 13px;
  color: #6ACD68;
}

.offer-name {
  width: 528px;
  font-weight: 700;
  font-size: 80px;
  line-height: 87.3%;
}

.offer-text {
  padding: 0;
  margin: 8px 0px;
}

.offer-options {
  width: 528px;
  height: 278px;
  border: 2px solid #999999;
  padding: 10px 20px;
}

.warranty-offer {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.warranty-option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 161.36px;
  height: 36px;
  border: 1px solid #999999;
}

.offer-paiments-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  margin: 20px 0px;
}

.old-price {
  font-size: 18px;
  font-weight: 400;
  text-decoration: line-through;
  margin: 0;
  padding: 0;
}

.new-price {
  font-weight: 700;
  font-size: 35px;
  margin: 0;
  padding: 0;
}

.protection-link {
  font-weight: 600;
  font-size: 18px;
  color: #009EFF;
}

.buy-choice {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: center;
  justify-content:space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.buy-choice-item {
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: #009EFF;
  color: #FFFFFF;
  width: 239.59px;
  height: 48px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
}

.payment-methods-description {
  margin: 0;
  padding: 0;
  margin-top: 16px
}

.payment-methods-at {
  font-weight: 400;
  font-size: 18px;
  color: #999999;
}
.payment-methods-starting {
  font-size: 18px;
  line-height: 22px;
  color: #009EFF;
}

.payment-methods-prequalify {
  font-size: 18px;
  line-height: 22px;
  color: #6ACD68
}

.payment-list {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  justify-content: left;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.count-bar {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  justify-content: center;
  align-items: center;
}

.count-circle-inactive {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #999999;
}

.count-circle-active {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #009EFF;
}

.advantages {
  width: 957px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  margin: auto;
  padding: 0;
}

.advantages-block {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  column-gap: 20px;
  padding: 5px 10px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  color: #999999;
}

.advantages-block-inactive {
  color: #999999;
}

.advantages-block-active {
  background-color: #009EFF;
  color: #FFFFFF;
}

.advantages-text {
  margin: 0;
  padding: 0;
}

.fourty-miles {
  width: 957px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content:space-between;
  align-items: center;
  margin: auto;
  padding: 0px 10px;
  background-color: #f8f8f8;
}

.fourty-miles-header {
  margin: 10px 0px;
  padding: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
}

.fourty-miles-text {
  margin: 10px 0px;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
}

.fourty-miles-logo {
  margin: 0;
  padding: 0;
}

.equipment {
  width: 1376px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content:center;
  align-items: center;
  margin: 20px auto;
  padding: 40px;
  background: linear-gradient(0deg, #EEEEEE 0%, rgba(245, 245, 245, 0.79) 43.81%, rgba(255, 255, 255, 0) 82.46%);
}

.equipment-player-block {
  /* width: 957px; */
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  /* justify-content:space-between;
  align-items: center;
  margin: auto;
  padding: 0; */
}

.equipment-section-header {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  color: #323941;
}


.equipment-player {
  display: flex;
  flex-direction: column;
  width: 488px;
  height: 278px;
  left: 210px;
  top: 1651.67px;
  background: #C4C4C4;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
}

.equipment-player-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.equipment-player-text {
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.equipment-image-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 453px;
  height: 453px;
  background-color: #009EFF;
  border-radius: 227px;
  margin: 0;
  padding: 0;
}

.equipment-image-container {
  display: flex;
  margin-top: 30px;
  transform: rotate(5.49deg);
}

.accessories {
  width: 1376px;
}

.accessories-section-header {
  text-align: center ;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  color: #323941;
}

.accessories-field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 41px;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin: auto;
}

.accessories-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.accessories-subcell-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.accessories-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 133px;
  height: 133px;
  border-radius: 50%;
  background-color: rgb(234, 243, 243);
}

.accesories-section-subheader {
  width: 295px;
  height: 45px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #323941;
}

.accesories-cell-description {
  width: 280px;
  height: 77px;
  margin-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 119.3%;
  text-align: center;
  color: #999999;
}

.accessories-subcell-price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 22px;
  margin-bottom: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #323941;
}

.accessories-subcell-add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 129px;
  height: 42px;
  border: 1px solid #C6C6C6;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 119.3%;
  color: #C6C6C6;
}

.accesories-button-see-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 229px;
  height: 48px;
  margin: 50px auto;
  background: #009EFF;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.impressive-features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  background: #F5F5F5;
}

.scooter-riding {
  display: flex;
  align-items: end;
  width: 1376px;
  height: 724px;
  background-image: url(/images/impressive-features/scooter-riding.jpg);
}

.scooter-riding-image-transparency {
  width: 1376px;
  height: 212px;
  background: linear-gradient(360deg, #F5F5F5 19.44%, rgba(232, 232, 232, 0) 100%);
}

.impressive-features-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 545px;
  height: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  text-align: center;
  text-transform: uppercase;
  color: #323941;
}

.impressive-features-field {
  width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.impressive-features-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.impressive-features-cell-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 120px;
}

.impressive-features-cell-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 43px;
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 43px;
  background: linear-gradient(180deg, #009EFF 0%, #007BCD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.impressive-features-cell-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #999999;
}

.kickscooter-overview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  background: #F5F5F5;
}

.kickscooter-overview-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 907px;
  height: 120px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  text-transform: uppercase;
  color: #323941;
  margin-top: 80px;
}

.smart-bms {
  position: relative;
  display: flex;
  width: 1376px;
  height: 547px;
  background: #0E0E16;
  background-image: url(/images/smart-bms/smart-bms-background.png);
  background-position: right;
  background-repeat: no-repeat;
}

.smart-bms-header {
  position: absolute;
  width: 553px;
  height: 180px;
  left: 207px;
  top: 153px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.smart-bms-description {
  position: absolute;
  width: 558px;
  height: 44px;
  left: 212px;
  top: 369px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.smart-bms-blur-filter {
  position: absolute;
  width: 455px;
  height: 455px;
  left: -287px;
  top: 201px;
  background: #3A75F7;
  opacity: 0.2;
  filter: blur(155.5px);
}

.dual-braking-system {
  position: relative;
  display: flex;
  width: 1376px;
  height: 547px;
  background: #FFFFFF;
  background-image: url(/images/dual-braking-system/dual-braking-system-background.png);
  background-position: left;
  background-repeat: no-repeat;
}

.dual-braking-system-header {
  position: absolute;
  width: 375px;
  height: 120px;
  left: 768px;
  top: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  text-transform: uppercase;
  color: #323941;
}

.dual-braking-system-description {
  position: absolute;
  width: 364px;
  height: 110px;
  left: 768px;
  top: 288px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #323941;
}

.led-light {
  position: relative;
  display: flex;
  width: 1376px;
  height: 547px;
  background: #0E0E16;
  background-image: url(/images/led-light/led-light-background.png);
  background-position: right;
  background-repeat: no-repeat;
}

.led-light-header {
  position: absolute;
  width: 387px;
  height: 120px;
  left: 205px;
  top: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.led-light-description {
  position: absolute;
  width: 596px;
  height: 70px;
  left: 205px;
  top: 300px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.led-light-disclaimer {
  position: absolute;
  width: 596px;
  height: 110px;
  left: 205px;
  top: 398px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #6C6C6C;
}

.led-light-blur-filter {
  position: absolute;
  width: 455px;
  height: 455px;
  left: -287px;
  top: 24px;
  background: #3A75F7;
  opacity: 0.2;
  filter: blur(155.5px);
}

.folding-mechanism {
  position: relative;
  display: flex;
  width: 1376px;
  height: 668px;
  background: #FFFFFF;
}

.folding-mechanism-header {
  position: absolute;
  width: 1024px;
  height: 60px;
  left: 176px;
  top: 75px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  line-height: 119.3%;
  text-transform: uppercase;
  color: #323941;
}

.folding-mechanism-description {
  position: absolute;
  width: 980px;
  height: 22px;
  left: 198px;
  top: 180px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  color: #323941;
}

.folding-mechanism-image {
  position: absolute;
  width: 840.46px;
  height: 388px;
  left: 267.27px;
  top: 240px;
}

.regenerative-brake {
  position: relative;
  display: flex;
  width: 1376px;
  height: 547px;
  background: #0E0E16;
  background-image: url(/images/regenerative-brake/regenerative-brake-backgrouund.png);
  background-position: right;
  background-repeat: no-repeat;
}

.regenerative-brake-header {
  position: absolute;
  width: 808px;
  height: 120px;
  left: 207px;
  top: 67px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.regenerative-brake-description {
  position: absolute;
  width: 601px;
  height: 88px;
  left: 207px;
  top: 205px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.regenerative-brake-blur-filter {
  position: absolute;
  width: 455px;
  height: 455px;
  left: -350px;
  top: 168px;
  background: #3A75F7;
  opacity: 0.2;
  filter: blur(155.5px);
}

.fast-charging {
  position: relative;
  display: flex;
  width: 1376px;
  height: 547px;
  background: #FFFFFF;
  background-image: url(/images/fast-charging/fast-charging-background.png);
  background-position: left;
  background-repeat: no-repeat;
}

.fast-charging-header {
  position: absolute;
  width: 408px;
  height: 120px;
  left: 768px;
  top: 161px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  text-transform: uppercase;
  color: #323941;
}

.fast-charging-description {
  position: absolute;
  width: 397px;
  height: 88px;
  left: 768px;
  top: 299px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #323941;
}





.riding-modes {
  position: relative;
  display: flex;
  width: 1376px;
  height: 547px;
  background: #0E0E16;
  background-image: url(/images/riding-modes/riding-modes-background.png);
  background-position: right;
  background-repeat: no-repeat;
}

.riding-modes-header {
  position: absolute;
  width: 399px;
  height: 60px;
  left: 210px;
  top: 191px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.riding-modes-description {
  position: absolute;
  width: 417px;
  height: 88px;
  left: 210px;
  top: 269px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.riding-modes-blur-filter-left {
  position: absolute;
  width: 455px;
  height: 455px;
  left: -350px;
  top: 186px;
  background: #3A75F7;
  opacity: 0.2;
  filter: blur(155.5px);
}

.riding-modes-blur-filter-right {
  position: absolute;
  width: 711px;
  height: 711px;
  left: 744px;
  top: 213px;
  background: #3A75F7;
  opacity: 0.2;
  filter: blur(155.5px);
}