@font-face {
  font-family:'Proxima Nova Regular';
  src: url(/fonts/proxima_nova/proximanova_regular.ttf);
}

* {
  box-sizing: border-box;
  font-family:'Proxima Nova Regular';
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template-rows: auto;
  align-items:start;
  max-width: 1376px;
  min-width: 1376px;
  margin: auto;
}

.top-navigation-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: center;
  height: 48px;
  background-color: #323941;
  color: #FFFFFF;
}

.top-navigation-menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.top-navigation-menu-item {
  margin: 0px 16px;
  padding: 0;
  white-space: nowrap;
}


.top-info {
  justify-self: left;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.cart {
  display: flex;
  align-items: center;
  margin: 0px 16px;
  padding: 0;
}

.instagram-link {
  display: flex;
  align-items: center;
  margin: 0px 16px;
  padding: 0;
}

.phone-number {
  margin: 0px 16px;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
}

.introduce {
  height: 101px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 5px;
}

.company-logo,
.company-director-foto {
  display: grid;
  justify-content: right;
  align-items: center;
}

.company-name {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}

.company-first-name,
.company-director-name {
  display: grid;
  justify-content: left;
  align-items: end;
}

.company-second-name,
.company-director-ask {
  display: grid;
  justify-content: left;
  align-items: start;
}

.ask-to-director {
  display: grid;
  grid-template-rows: 2fr 3fr;
  gap: 5px;
}

.company-director-name {
  font-size: 13px;
  font-weight: 600;
}

.company-director-ask {
  font-size: 13px;
  font-weight: 400;
}

.gallery-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 1376px;
  background-color: #323941;
}

.gallery-line-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;  
}

.gallery-item {
  display: flex;
  flex-direction: column;
  width: 137.14px;
  height: 130px;
}

.gallery-item:hover {
  background-color: #009EFF;
}

/* .gallery-item-active {
  display: flex;
  flex-direction: column;
  background-color: #009EFF;
  width: 137.14px;
  height: 130px;
} */

.gallery-item-foto {
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

.gallery-item-text {
  display: flex;
  justify-content: center;
  align-content: end;
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
}

.special-offer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: #009EFF;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
}

.special-offer-segway {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.in-stock-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 27px;
  border: 2px solid #6ACD68;
  font-size: 13px;
  color: #6ACD68;
  margin: 10px;
}

.offer-name {
  width: 528px;
  font-weight: 700;
  font-size: 80px;
  line-height: 87.3%;
}

.offer-text {
  padding: 0;
  margin: 8px 0px;
}

.offer-options {
  width: 528px;
  height: 278px;
  border: 2px solid #999999;
  padding: 10px 20px;
}

.warranty-offer {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.warranty-option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 161.36px;
  height: 36px;
  border: 1px solid #999999;
}

.offer-paiments-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  margin: 20px 0px;
}

.old-price {
  font-size: 18px;
  font-weight: 400;
  text-decoration: line-through;
  margin: 0;
  padding: 0;
}

.new-price {
  font-weight: 700;
  font-size: 35px;
  margin: 0;
  padding: 0;
}

.protection-link {
  font-weight: 600;
  font-size: 18px;
  color: #009EFF;
}

.buy-choice {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  align-items: center;
  justify-content:space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.buy-choice-item {
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: #009EFF;
  color: #FFFFFF;
  width: 239.59px;
  height: 48px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
}

.buy-choice-item:hover {
  background-color: #1100ff;
}

.buy-choice-item:active {
  box-shadow:  0px 0px 0px black, 0 0 1em #1100ff;
}

.payment-methods-description {
  margin: 0;
  padding: 0;
  margin-top: 24px
}

.payment-methods-at {
  font-weight: 400;
  font-size: 18px;
  color: #999999;
}
.payment-methods-starting {
  font-size: 18px;
  line-height: 22px;
  color: #009EFF;
}

.payment-methods-prequalify {
  font-size: 18px;
  line-height: 22px;
  color: #6ACD68
}

.payment-list {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  justify-content: left;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.count-bar {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  justify-content: center;
  align-items: center;
}

.count-circle-inactive {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #999999;
}

.count-circle-active {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #009EFF;
}

.advantages {
  width: 957px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  margin: auto;
  padding: 0;
}

.advantages-block {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  column-gap: 20px;
  padding: 5px 10px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  color: #999999;
}

.advantages-block-inactive {
  color: #999999;
}

.advantages-block-active {
  background-color: #009EFF;
  color: #FFFFFF;
}

.advantages-text {
  margin: 0;
  padding: 0;
}

.fourty-miles {
  width: 957px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content:space-between;
  align-items: center;
  margin: auto;
  padding: 0px 10px;
  background-color: #f8f8f8;
}

.fourty-miles-header {
  margin: 10px 0px;
  padding: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
}

.fourty-miles-text {
  margin: 10px 0px;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
}

.fourty-miles-logo {
  margin: 0;
  padding: 0;
}

.equipment {
  width: 1376px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content:center;
  align-items: center;
  margin: 20px auto;
  padding: 40px;
  background: linear-gradient(0deg, #EEEEEE 0%, rgba(245, 245, 245, 0.79) 43.81%, rgba(255, 255, 255, 0) 82.46%);
}

.equipment-player-block {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
}

.equipment-section-header {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  color: #323941;
}


.equipment-player {
  display: flex;
  flex-direction: column;
  width: 488px;
  height: 278px;
  left: 210px;
  top: 1651.67px;
  background: #C4C4C4;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
}

.equipment-player-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.equipment-player-text {
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.equipment-image-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 453px;
  height: 453px;
  background-color: #009EFF;
  border-radius: 227px;
  margin: 0;
  padding: 0;
}

.equipment-image-container {
  display: flex;
  margin-top: 30px;
  transform: rotate(5.49deg);
}

.accessories {
  width: 1376px;
}

.accessories-section-header {
  text-align: center ;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  color: #323941;
}

.accessories-field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 41px;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin: auto;
}

.accessories-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.accessories-subcell-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.accessories-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 133px;
  height: 133px;
  border-radius: 50%;
  background-color: rgb(234, 243, 243);
}

.accesories-section-subheader {
  width: 295px;
  height: 45px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #323941;
}

.accesories-cell-description {
  width: 280px;
  height: 77px;
  margin-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 119.3%;
  text-align: center;
  color: #999999;
}

.accessories-subcell-price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 22px;
  margin-bottom: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #323941;
}

.accessories-subcell-add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 129px;
  height: 42px;
  border: 1px solid #C6C6C6;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 119.3%;
  background-color: #FFFFFF;
  color: #C6C6C6;
}

.accessories-subcell-add-to-cart:hover {
  font-weight: 600;
  color: #FFFFFF;
  background: #009EFF;
}

.accessories-subcell-add-to-cart:active {
  box-shadow:  0px 0px 0px black, 0 0 1em #1100ff;
}

.accesories-button-see-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 229px;
  height: 48px;
  margin: 50px auto;
  background: #009EFF;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.accesories-button-see-more:hover {
  background-color: #1100ff;
}

.accesories-button-see-more:active {
  box-shadow:  0px 0px 0px black, 0 0 1em #1100ff;
}

.impressive-features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  background: #F5F5F5;
}

.scooter-riding {
  display: flex;
  align-items: end;
  width: 1376px;
  height: 724px;
  background-image: url(/images/impressive-features/scooter-riding.jpg);
}

.scooter-riding-image-transparency {
  width: 1376px;
  height: 212px;
  background: linear-gradient(360deg, #F5F5F5 19.44%, rgba(232, 232, 232, 0) 100%);
}

.impressive-features-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 545px;
  height: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  text-align: center;
  text-transform: uppercase;
  color: #323941;
}

.impressive-features-field {
  width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.impressive-features-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.impressive-features-cell-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 120px;
}

.impressive-features-cell-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 43px;
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 43px;
  background: linear-gradient(180deg, #009EFF 0%, #007BCD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.impressive-features-cell-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #999999;
}

/* .kickscooter-overview* - section not completed - not enough material */

.kickscooter-overview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  background: #ffffff;
}

.kickscooter-overview-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 907px;
  height: 120px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  text-transform: uppercase;
  color: #323941;
  margin-top: 80px;
}

.kickscooter-overview-scheme {
  position: relative;
  width: 1376px;
  height: 561px;
}

.kickscooter-overview-image {
  position: absolute;
  width: 958px;
  height: 561px;
  left: 211px;
}

.kickscooter-overview-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.smart-bms {
  position: relative;
  display: flex;
  width: 1376px;
  height: 547px;
  background: #0E0E16;
  background-image: url(/images/smart-bms/smart-bms-background.png);
  background-position: right;
  background-repeat: no-repeat;
}

.smart-bms-header {
  position: absolute;
  width: 553px;
  height: 180px;
  left: 207px;
  top: 153px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.smart-bms-description {
  position: absolute;
  width: 558px;
  height: 44px;
  left: 212px;
  top: 369px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.smart-bms-blur-filter {
  position: absolute;
  width: 455px;
  height: 455px;
  left: -287px;
  top: 201px;
  background: #3A75F7;
  opacity: 0.2;
  filter: blur(155.5px);
}

.dual-braking-system {
  position: relative;
  display: flex;
  width: 1376px;
  height: 547px;
  background: #FFFFFF;
  background-image: url(/images/dual-braking-system/dual-braking-system-background.png);
  background-position: left;
  background-repeat: no-repeat;
}

.dual-braking-system-header {
  position: absolute;
  width: 375px;
  height: 120px;
  left: 768px;
  top: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  text-transform: uppercase;
  color: #323941;
}

.dual-braking-system-description {
  position: absolute;
  width: 364px;
  height: 110px;
  left: 768px;
  top: 288px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #323941;
}

.led-light {
  position: relative;
  display: flex;
  width: 1376px;
  height: 547px;
  background: #0E0E16;
  background-image: url(/images/led-light/led-light-background.png);
  background-position: right;
  background-repeat: no-repeat;
}

.led-light-header {
  position: absolute;
  width: 387px;
  height: 120px;
  left: 205px;
  top: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.led-light-description {
  position: absolute;
  width: 596px;
  height: 70px;
  left: 205px;
  top: 300px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.led-light-disclaimer {
  position: absolute;
  width: 596px;
  height: 110px;
  left: 205px;
  top: 398px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #6C6C6C;
}

.led-light-blur-filter {
  position: absolute;
  width: 455px;
  height: 455px;
  left: -287px;
  top: 24px;
  background: #3A75F7;
  opacity: 0.2;
  filter: blur(155.5px);
}

.folding-mechanism {
  position: relative;
  display: flex;
  width: 1376px;
  height: 668px;
  background: #FFFFFF;
}

.folding-mechanism-header {
  position: absolute;
  width: 1024px;
  height: 60px;
  left: 176px;
  top: 75px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  line-height: 119.3%;
  text-transform: uppercase;
  color: #323941;
}

.folding-mechanism-description {
  position: absolute;
  width: 980px;
  height: 22px;
  left: 198px;
  top: 180px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  color: #323941;
}

.folding-mechanism-image {
  position: absolute;
  width: 840.46px;
  height: 388px;
  left: 267.27px;
  top: 240px;
}

.regenerative-brake {
  position: relative;
  display: flex;
  width: 1376px;
  height: 547px;
  background: #0E0E16;
  background-image: url(/images/regenerative-brake/regenerative-brake-backgrouund.png);
  background-position: right;
  background-repeat: no-repeat;
}

.regenerative-brake-header {
  position: absolute;
  width: 808px;
  height: 120px;
  left: 207px;
  top: 67px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.regenerative-brake-description {
  position: absolute;
  width: 601px;
  height: 88px;
  left: 207px;
  top: 205px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.regenerative-brake-blur-filter {
  position: absolute;
  width: 455px;
  height: 455px;
  left: -350px;
  top: 168px;
  background: #3A75F7;
  opacity: 0.2;
  filter: blur(155.5px);
}

.fast-charging {
  position: relative;
  display: flex;
  width: 1376px;
  height: 547px;
  background: #FFFFFF;
  background-image: url(/images/fast-charging/fast-charging-background.png);
  background-position: left;
  background-repeat: no-repeat;
}

.fast-charging-header {
  position: absolute;
  width: 408px;
  height: 120px;
  left: 768px;
  top: 161px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  text-transform: uppercase;
  color: #323941;
}

.fast-charging-description {
  position: absolute;
  width: 397px;
  height: 88px;
  left: 768px;
  top: 299px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #323941;
}

.riding-modes {
  position: relative;
  display: flex;
  width: 1376px;
  height: 547px;
  background: #0E0E16;
  background-image: url(/images/riding-modes/riding-modes-background.png);
  background-position: right;
  background-repeat: no-repeat;
}

.riding-modes-header {
  position: absolute;
  width: 399px;
  height: 60px;
  left: 210px;
  top: 191px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.riding-modes-description {
  position: absolute;
  width: 417px;
  height: 88px;
  left: 210px;
  top: 269px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.riding-modes-blur-filter-left {
  position: absolute;
  width: 455px;
  height: 455px;
  left: -350px;
  top: 186px;
  background: #3A75F7;
  opacity: 0.2;
  filter: blur(155.5px);
}

.riding-modes-blur-filter-right {
  position: absolute;
  width: 711px;
  height: 711px;
  left: 744px;
  top: 213px;
  background: #3A75F7;
  opacity: 0.2;
  filter: blur(155.5px);
}

.download-manual {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1376px;
  height: 547px;
  background: #F5F5F5;
}

.download-manual-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items:flex-start;
  width: 1060px;
  height: 317px;
  background: #FFFFFF;
  border: 5px solid #009EFF;
}

.download-manual-block {
  display: flex;
  flex-direction: column;
}

.manual-image {
  position: relative;
  width: 400px;
  top: -30px;
  left: -210px;
}

.download-manual-header {
  width: 300px;
  height: 120px;
  margin: 20px 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #323941;
}

.download-manual-block-cell {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.download-manual-block-subcell {
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: left;
  align-items:center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 119.3%;
  color: #323941;
}

.download-manual-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  width: 258px;
  height: 48px;
  margin: 30px 0px;
  background: #009EFF;
  border: 5px solid #009EFF;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.download-manual-bottom:hover {
  background-color: #1100ff;
}

.download-manual-bottom:active {
  box-shadow:  0px 0px 0px black, 0 0 1em #1100ff;
}

.compare-specifications {
  position: relative;
  display: grid;
  width: 1376px;
  justify-content: center;
  color: #FFFFFF;
}

.compare-specifications-header {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  text-transform: uppercase;
  text-align: center;
  color: #323941;
  margin-top: 94px;

}

.select-model {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #323941;
}

.compare-table {
  width: 1060px;
  display: grid;
  column-gap: 5px;
  row-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
}

.compare-table-cell {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #323941;
}

.compare-table-subheader {
  grid-column: 1/5;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #009EFF;
  margin-top: 16px;
}

.subheader-container {
  display: grid;
  grid-template-columns: 1fr 30fr;
}

.subheader-line {
  position: relative;
  grid-column: 1/3;
  height: 5px;
}
.subheader-line img {
  position: absolute;
  left: -16px;
}

.compare-table-cell-model {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #323941;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.compare-table-cell-price {
  width: 187px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #323941;
  margin-top: 60px;
  margin-bottom: 10px;
}

.compare-table-cell-buy-button {
  display: grid;
  width: 187px;
  height: 46px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #009EFF;
  color: #FFFFFF;
}

.compare-table-cell-buy-button:hover {
  background-color: #1100ff;
}

.compare-table-cell-buy-button:active {
  box-shadow:  0px 0px 0px black, 0 0 1em #1100ff;
}

.compare-specifications-gradient {
  position: absolute;
  width: 451px;
  height: 1387px;
  left: 927px;
  top: 188px;
  background: linear-gradient(270deg, #FFFFFF 53.9%, rgba(255, 255, 255, 0) 100%);
}

.button-right {
  position: absolute;
  left: calc(100% - 70px);
  top: 50%;
  background: none;
  border: 0px;
}

.button-right img:hover {
  transform: scale(1.2);
}

.button-right img:active {
  transform: scale(1);
  box-shadow:  0px 0px 0px black, 0 0 1em #1100ff;
}

.gift {
  display: flex;
  width: 1376px;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.gift-container {
  display: flex;
  flex-direction: row;
  width: 1080px;
  height: 246px;
  justify-items: center;
  justify-content:space-around;
  align-items: center;
  border: 5px solid #009EFF;
}

.gift-offer {
  display: flex;
  flex-direction: column;

}

.gift-header {
  width: 527px;
  height: 120px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  text-transform: uppercase;
  color: #323941;
}

.gift-description {
  width: 504px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #323941;
}

.reviews {
  width: 1376px;
  height: 750px;
  background: #F5F5F5;
}

.reviews-header {
  padding-top: 64px;
  padding-bottom: 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  text-align: center;
  text-transform: uppercase;
  color: #323941;
}

.reviews-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 900px;
  height: 500px;
  margin: auto;
}

.review {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 487px;
  background: #FFFFFF;
  border: 3px solid #009EFF;
}

.reviews-left-button {
  margin: 0;
  padding: 0;
  position: absolute;
  top: calc(50% - 35px);
  left: -74px;
  background: none;
  border: 0px;
}

.reviews-left-button img:hover {
  transform: scale(1.2);
}

.reviews-left-button img:active {
  transform: scale(1);
  box-shadow:  0px 0px 0px black, 0 0 1em #1100ff;
}

.reviews-right-button {
  position: absolute;
  margin: 0;
  padding: 0;
  position: absolute;
  top: calc(50% - 35px);
  right: -74px;
  background: none;
  border: 0px;
}

.reviews-right-button img:hover {
  transform: scale(1.2);
}

.reviews-right-button img:active {
  transform: scale(1);
  box-shadow:  0px 0px 0px black, 0 0 1em #1100ff;
}

.smart-control {
  width: 1376px;
  height: 774px;
}

.smart-control-header {
  padding-top: 64px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 119.3%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.smart-control-description {
  width: 810px;
  margin: auto;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #323941;
}

.smart-control-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.smart-control-container-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  
}

.smart-control-container-subcolumn-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.smart-control-container-subcolumn-pay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.smart-control-container-cell img:hover {
  transform: scale(1.2);
}

.special-offer-repeat {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 1376px;
  height: 700px;
  /* background-color: khaki; */
}

.special-offer-repeat-container {
margin-left: 200px;
}

.in-stock-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89px;
  height: 27px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 119.3%;
  border: 2px solid #6ACD68;
  color: #6ACD68;
  margin: 10px;
}

.special-offer-repeat-header {
  width: 928px;
  height: 282px;
  font-style: normal;
  font-weight: 700;
  font-size: 108px;
  line-height: 94px;
  text-transform: uppercase;
  color: #323941;
}

.special-offer-repeat-image-1 {
  position: absolute;
  left: 925px;
  top: 280px;
}

.special-offer-repeat-image-2 {
  position: absolute;
  left: 590px;
  top: 246px;
}

.other-models {
  text-align: center;
  width: 1376px;
  height: 1000px;
}

.other-models-header {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  text-transform: uppercase;
  color: #323941;
  padding-top: 80px;
}

.other-models-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  color: #323941;
  padding: 20px;
}

.other-models-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 60px;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin: 20px auto;
}

.other-models-cell {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  width: 240px;
  height: 300px;
  padding: 20px;
}

/* .other-models-cell:hover {
  border: 3px solid #009EFF;
} */

.other-models-subcell-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.other-models-subcell-model {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 237px;
  height: 45px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 23px;
  text-transform: uppercase;
  color: #323941;
}

.other-models-subcell-price {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #323941;
  margin: 10px;
}

.other-models-subcell-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 129px;
  height: 42px;
  border: 1px solid #C6C6C6;
  text-decoration: none;
}

.other-models-subcell-more-button:hover {
  background-color: #1100ff;
  color: #FFFFFF;
}

.other-models-subcell-more-button:active {
  box-shadow:  0px 0px 0px black, 0 0 1em #1100ff;
}

.other-models-subcell-question {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 237px;
  height: 67px;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #323941;
  margin: 5px;
}

.other-models-subcell-description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 237px;
  height: 67px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #323941;
  margin: 5px;
}

.other-models-subcell-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.other-models-subcell-contacts input {
  border: none;
  background: none;
  width: 120px;
}

.other-models-subcell-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.other-models-subcell-name input {
  border: none;
  background: none;
  width: 140px;
}

.other-models-subcell-send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 129px;
  height: 42px;
}

.other-models-subcell-send button {
  width: 129px;
  height: 42px;
  background: none;
  border: 1px solid #C6C6C6;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 119.3%;
  align-items: center;
  text-align: center;
  margin-top: 5px;
}

.other-models-subcell-send button:hover {
  background-color: #1100ff;
  color: #FFFFFF;
}

.other-models-subcell-send button:active {
  box-shadow:  0px 0px 0px black, 0 0 1em #1100ff;
}

.footer {
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(2, 0.8fr) 0.5fr 1fr 1fr;
  align-items: center;
  width: 1376px;
  height: 92px;
  background: #32393F;
  color: white;
}

.footer-logo {
  display: flex;
  justify-content: right;
  align-content: end;
}